<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- 设置包存储路径为项目根目录下的 packages 文件夹 -->
    <add key="globalPackagesFolder" value=".\packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>